#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title{
  background: linear-gradient(to right, #5ff4ff, #8a368d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}